alabaster==0.7.12
asn1crypto==0.24.0
Beaker==1.11.0
cachetools==3.1.1
certifi==2022.12.7
cffi==1.12.3
chardet==3.0.4
Click==7.0
cryptography==3.3.1
Flask==1.1.1
flask-paginate==0.5.3
Flask-pyoidc==2.2.0
future==0.17.1
google-auth==1.6.3
idna==2.6
itsdangerous==1.1.0
Jinja2==2.10.1
keyring==10.6.0
keyrings.alt==3.0
kubernetes==10.0.1
Mako==1.1.0
MarkupSafe==1.1.1
oauthlib==3.1.0
oic==1.2.1
pyasn1==0.4.7
pyasn1-modules==0.2.6
pycparser==2.19
pycrypto==2.6.1
pycryptodomex==3.9.0
pyjwkest==1.4.2
pyOpenSSL==19.0.0
python-dateutil==2.8.0
python-dotenv==0.10.3
pyxdg==0.26
PyYAML==5.1.2
requests==2.22.0
requests-oauthlib==1.2.0
rsa==4.0
SecretStorage==2.3.1
six==1.11.0
urllib3==1.25.3
websocket-client==0.56.0
Werkzeug==0.15.6
